

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-size: 15px;
}
.caja{
	background-color: #00D929;
	height: 60px;
	width: 60px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	font-size: 18px;
	color: white;
}
.separador{
	margin-bottom: 5px; 
}
.cajapeq{
	background-color: #00D929;
	height: 35px;
	width: 60px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	font-size: 16px;
	color: white;
}
p{
	margin: 0 0 1px;
}
.color{
	background-color: #00D929;
}
.altura{
	height: 15px;
}
.linea-title{
	background-color: #00D929;
	height: 5px;
}

h1{
	font-size: 50px;

}
h1,h2,h3,h4{
	margin-bottom: 0px;
	margin-top: 5px;
}
 hr { 
   border: 3px solid #EFEFEF; 
   border-radius: 200px /8px; 
   height: 0px; 
   text-align: center; 
   margin-top: 2px;
   margin-bottom: 2px;
 } 
 .titulos{
 	font-size: 25px;
  font-weight: bold;
 }
 .app{
 	font-size: 40px;
 	color: white;
 	background-color: #00D929;
 }
 hrtitle{
 	border: 5px solid #EFEFEF; 
   border-radius: 200px /8px; 
   height: 0px; 
   text-align: center; 
   margin-top: 2px;
   margin-bottom: 2px;
   width: auto;
 }



hr.separador_principal { 
 height: 30px;
 border-style: solid;
 border-color: #BFBFBF;
 border-width: 2px 0 0 0;
 border-radius: 20px;
 text-align: center;
}

hr.separador_principal:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 2px 0;
    -webkit-border-radius:20px;
       -moz-border-radius:20px;
            border-radius:20px;
}

hr.separador_principal:after {
    
    color: #DC5500;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}








